%form{:action => action, :method => :post}
  %fieldset
    %legend
    %dl
      %dt
        %label{:for => "config_plugin_id"}
          Plugin
      %dd
        %select{:id => "config_plugin_id", :name => "config[plugin_id]"}
          %option
          - @plugins.each do |plugin|
            %option{:value => plugin.id, :selected => plugin == @config.plugin}
              = h plugin[:name]
      %dt
        %label{:for => "config_name"}
          klíč:
      %dd
        %input{:type => :text, :id => "config_name", :value => @config[:name], :name => "config[name]"}
      %dt
        %label{:for => "config_value"}
          hodnota:
      %dd
        %textarea{:id => "config_value", :name => "config[value]"}
          = h @config[:value]
    %button{:type => :submit}
      Uložit