%table
  %thead
    %tr
      %td
        Jméno
      %td
        URL
  %tbody
    - @plugins.each do |plugin|
      %tr
        %td
          = plugin.name
        %td
          %a{:href => "/p/?" + plugin.url_for_user(current_user) }=plugin.url