%form{:action => "login", :method => :post}
  %fieldset
    %dl
      %dt
        %label="Uživatelské jméno"
        \:
      %dd
        %input{:type => :text, :name => :login}
      %dt
        %label="Heslo"
        \:
      %dd
        %input{:type => :text, :name => :password}
      %dt="&nbsp;"
      %dd
        %input{:type => :submit, :value => "Přihlásit"}
    
        