!!! Strict
%html
  %head
    %title= "rProxy"
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    %link{:rel => "stylesheet", :href => "/stylesheets/docs.css"}
    %script{:src=>"http://www.google.com/jsapi"}
    %script{:src => "/javascripts/codemirror.js"}
  %body
    :javascript
      google.load("jquery", "1.4.2");
      google.setOnLoadCallback(function() {
        jQuery(function(){
          elements = jQuery("textarea.xml").each(function(){
            new CodeMirror.fromTextArea(this.id, {
              parserfile: ["parsexml.js"],
              path: "/javascripts/",
              stylesheet: "/stylesheets/xmlcolors.css",
              content: $(this).val(),
              lineNumbers: true
            });
          })
        })
      })
      
    -if @notice
      .notice
        = @notice
    -if flash[:notice]
      .flash.notice
        = flash[:notice]
    = yield